body {
    font-family: Arial, Helvetica, sans-serif;

}
#logo {
    float : left;
    height: 40px;
    margin-bottom: 60px;
}
#titre {
    color : rgb(201,146,62);
    font-size : 48px;
    margin-top : 60px;
    margin-bottom: 0;
}
#home {
    float : right;
    margin-right : 40px;
    list-style-type: none;
}
#about {
    float : right;
    list-style-type: none;
    margin-right : 40px;
}
.descWines li{
    list-style-type: none;
}
#btnSearch {
    background-color:rgb(201,146,62);
    color: white;
    border: none;
}

#filtre #annees  {
    margin-left: 16px;
}

#frm {
    float: left;
}
#vins {
    list-style-type: none;
}

footer{
    margin: auto;
    text-align: center;
}

#liste li{
    background-color:none;
    list-style: none;
    width: 260px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid grey;
}

#liste {
    margin-top: 80px;
}
#liste li:hover {
    background-color : rgb(201,146,62);
    color: rgb(250, 248, 248);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    list-style: none;
}

article.descWines {
width: 400px;
float: right;

}

aside {
    width: 200px;
    float: left;
}

#bottle {

    float: left;
    margin: 110px 50px 50px 150px;

}