body {
    width : 1350px;
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    float : left;
    height: 40px;
    margin-bottom: 60px;
}
header{
    display: inline;
    text-align: left;
    width: 150px;
}
button .btn btn-primary{
    margin: 0;
    float: left;
}

nav#nav-bar {
    width: 300px;
    float: right;
    justify-content: space-between;
    margin-top: 20px;
}

#titre {
    color : rgb(201,146,62);
    font-size : 48px;
    margin-top : 50px;
    margin-bottom: 0;
}
#home {
    float : right;
    margin-right : 40px;
    list-style-type: none;
}
#about {
    float : right;
    list-style-type: none;
    margin-right : 40px;
}
.descWines li  {
    list-style-type: none;
}
a#about {
    text-decoration: none;
}
a#home {
    text-decoration: none;
}
#btnSearch {
    background-color:rgb(201,146,62);
    color: white;
    border: none;
    margin-left: 2px;
    margin-right: 20px;
}
#nav-comments p{
    margin-bottom: 0rem;
}
#frm {
    float: left;
}
#vins {
    list-style-type: none;
}

#liste li{
    background-color:none;
    list-style: none;
    width: 260px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid grey;
}
#liste {
    margin-top: 30px;
    height: 500px;
    width: 280px;
    float: left;
    margin-left: 120px;
}
#liste li:hover {
    background-color : rgb(201,146,62);
    color: white;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    list-style: none;
}
footer {
    clear: both;
    text-align: center;
    margin:auto;
}
#infoSupp{
    width: 470px;
}
article.descWines {
    margin: 35px 120px 0px 0px;
    width: 380px;
    float: right;
}
#bottle {
    float: left;
    margin: 95px 0px 0px 70px;
}
#nav-tab .active {
    clear: both;
    background-color:rgb(8,94,214);
    color: white;
}
#adds{
    margin: 20px 0px 20px 0px;
    width: 445px;
}
#form1{
    width: 800px;
    margin: 30px 0px 20px 0px;
}
.nav-link{
    color: green;
}
#pays{
    margin-right: 2px;
}
#filter{
    background-color:rgb(201,146,62);
    color: white;
    margin-left: 2px;
    border: none;
}
#image{
    margin-right: 4px;
}
#note{
    margin-right: 4px;
}
#like{
    margin-right: 4px;
}
