body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1350px;
    height: auto;
}
#logo {
    float : left;
    height: 40px;
    margin-bottom: 60px;
}
header{
    margin: auto;
    display: inline;
    text-align: left;
    width: 150px;
}
button .btn btn-primary{
    margin: 0;
    float: left;
}

nav#nav-bar {
    width: 300px;
    float: right;
    justify-content: space-between;
}

#titre {
    color : rgb(201,146,62);
    font-size : 48px;
    margin-top : 60px;
    margin-bottom: 20px;
}
#home {
    float : right;
    margin-right : 40px;
    list-style-type: none;
    margin-top: 7px;
}
#about {
    float : right;
    list-style-type: none;
    margin-right : 40px;
    margin-top: 7px;
}
.descWines li  {
    list-style-type: none;
}
a#about {
    text-decoration: none;
}
a#home {
    text-decoration: none;
}
#btnSearch {
    background-color:rgb(201,146,62);
    color: white;
    border: none;
    margin-right: 20px;
}
#nav-comments p{
    margin-bottom: 0rem;
}
#frm {
    float: left;
}
#vins {
    list-style-type: none;
}

#liste li{
    background-color:none;
    list-style: none;
    width: 290px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid grey;
    margin-left: 140px;;
}

#liste {
    margin-top: 30px;
    padding-left: 0;
    height: 500px;
}
#liste li:hover {
    background-color : rgb(201,146,62);
    color: rgb(250, 248, 248);
    width: 290px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    list-style: none;
}
#interactions{
    width: 620px;
}
footer {
    clear: both;
    text-align: center;
}
#infoSupp{
    width: 600px;
}


article.descWines {
width: 490px;
float: right;
margin-top: 60px;
}

aside {
    width: 200px;
    float: left;
}

#bottle {
    float: left;
    margin: 110px 0px 50px 330px;
}
#nav-tab .active {
    background-color: rgb(201,146,62);
    color: aliceblue;
}
#nav-graph  {
    width: 45%;
    height: 65%;
    margin: auto;
}
#nav-tab{
    width: 490px;
}
#nav-description{
    width: 490px;
}
#filter{
    background-color : rgb(201,146,62);
    color: rgb(250, 248, 248);
    border: none;
}
button.btn-close{
    background-color: rgb(154, 148, 148);
    border-radius: 8px;
    border: 0.2px solid gray;
    width: 6px;
    height: 6px;
}
